<div class="app-wrapper">
  <div class="app-card">

    <div class="header">
      <h2>Dashboard</h2>
      <button class="logout" (click)="logout()">Logout</button>
    </div>

    <p><strong>Role:</strong> {{ roleName }}</p>

    <!-- ADMIN -->
    <div *ngIf="roleName === 'ADMIN'" class="panel">
      <h4>Admin Panel</h4>
      <a routerLink="/users">Users</a>
      <a routerLink="/reports">Reports</a>
    </div>

    <!-- CLIENT -->
    <div *ngIf="roleName === 'CLIENT'" class="panel">
      <h4>Client Panel</h4>
      <a routerLink="/job-create">Post Job</a>
      <a routerLink="/job-list">Jobs</a>
      <a routerLink="/my-job">My Jobs</a>
    </div>

    <!-- FREELANCER -->
    <div *ngIf="roleName === 'FREELANCER'" class="panel">
      <h4>Freelancer Panel</h4>
      <a routerLink="/browse-jobs">Browse Jobs</a>
      <a routerLink="/my-proposals">My Proposals</a>
      <a routerLink="/my-profile">Profile</a>
    </div>

  </div>
</div>
