.header {
  display: flex;
  justify-content: space-between;
}

.panel {
  margin-top: 15px;
  padding: 15px;
  border-radius: 12px;
  background: #f3f4f6;
}

.panel a {
  display: block;
  margin: 5px 0;
}

.logout {
  background: red;
  color: white;
}